* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* Navbar index */
.navbar.sticky-top {
  z-index: 1;
}

/* VideoCard Component */

.video-card {
  cursor: pointer;
}

.compact .video-card {
  padding: 0 5px;
}

.compact .video-card .video-title {
  font-size: 14px;
}
.compact .video-card .video-author {
  font-size: 12px;
}
.compact .video-card .video-timeago {
  font-weight: normal;
  font-size: 12px;
  margin-bottom: 0;
}
.compact .video-card .row {
  align-items: center;
  justify-content: space-evenly;
}

.compact .video-card .card-body {
  padding: 10px;
}

.expanded .video-card img {
  border-start-start-radius: 5px;
  border-bottom-left-radius: 5px;
}

.expanded .video-card .video-title {
  font-size: 1.2rem;
}
.expanded .video-card .video-author {
  font-size: 0.9rem;
}
.expanded .video-card .video-timeago {
  font-weight: normal;
  font-size: 0.95rem;
  margin-top: 15px;
  margin-bottom: 0;
}

.card.video-card:hover {
  box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.1);
}

/* VideoDetails Component*/
.video-details.sticky-top {
  top: 70px;
  z-index: 0;
}
