* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.video-card {
  cursor: pointer;
}

.video-card.is-small{
  padding: 0 5px
}

.video-card.is-small .video-title {
  font-size: 14px;
}
.video-card.is-small .video-author {
  font-size: 12px;
}
.video-card.is-small .row {
  align-items: center;
  justify-content: space-evenly;
}
.video-card.is-small .card-body {
  padding: 10px;
}

.video-card.is-large .video-title {
  font-size: 1.2rem;
}
.video-card.is-large .video-author {
  font-size: 0.9rem;
}

.card.video-card:hover {
  box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.1);
}
